.bio-chemistry-test-button{
    margin-bottom: 13px !important;
    background-color: #110440 !important;
    font-weight: 400 !important;
    padding: 10px 12px !important;
    border-radius: 8px !important;
}