.side-bg-container{
  width: 240px;
   height: 84vh;
   background-color: lightblue;
   position: sticky;
   left: 0;
   top: 100px;
   z-index: 19999;
}

@media(max-width:768px){
   .side-bg-container{
      display: none;
   }
}

.open-side{
   width:50px;
   height: 84vh;
   background-color: #fff;
   position: sticky;
   left: 0;
   top: 100px;
   z-index: 999;
}



.open-side .side-sub-menu{
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   white-space: nowrap;
   position: absolute;
   left: 100%;
   top: 30%;
   width: 160px;
   z-index: 1999;
   background-color: #fff;
   padding-left: 0;
   left: calc(100% + 1px);
   border-radius: 5px;
   display: none;
   pointer-events: auto;
   top: 60%;
   transform: translateY(-50%);
}



.side-sub-menu li{
   width: 100%;
 
   font-family: Roboto;
   font-size: 15px;
   padding: 4px 8px;
   color: #424242;
   
}

.side-sub-menu li:hover{
   color: #304c7a;
}

.open-side.close li:hover .side-sub-menu{
   background-color: #fff;
   pointer-events: auto;
   transition: all 0.4s ease;
   display: block;
}


.sidebar-list-container{
   list-style-type: none;
   padding-left: 5px;
   padding-right: 5px;
}

.side-item-container{
   display: flex;
   align-items: center;
   gap: 15px;
  cursor: pointer;
    color: #02042b;;
   padding: 12px 8px ;
   border-radius: 5px;margin-bottom: 5px;
   text-decoration: none;
}


.item-text{
   font-family: Roboto;
   font-weight: 500;
   font-size: 16px;
}

.sidebar-list-container li{
  position: relative;
 list-style: none;
 
}

.link{
 text-decoration: none;
}



.ss{
   position: absolute;
 
 left:calc(100% + 15px);
 z-index: 1;
 background-color: var(--color-white);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
 padding: 6px 14px;
 font-size: 15px;
 font-weight: 400;
 border-radius: 5px;
 white-space: nowrap;
 
   
}

li:hover .ss{
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
   top: 50%;
   transform: translateY(-50%);
 }



 .tooltip{
   position: absolute;
  z-index: 100; /* Set a higher z-index for the tooltip */
  opacity: 0;
  left: calc(100% + 15px);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
 }

 .tooltip li {
   cursor: pointer;
  color: #02042b;
  padding: 15px 8px;
  border-radius: 5px;
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
   
 }

 .tooltip li span{
   font-family: Roboto;
   font-weight: 400;
   font-size: 15px;
 }


 li:hover .tooltip{
   background-color: #fff;
   pointer-events: auto;
   transition: all 0.4s ease;
   top: 50%;
   opacity: 1;
   z-index: 999;
 }

 .tooltip li:hover{
   background-color: #02042b;
   color: #fff;
   z-index: 9999;
 }

 .active-submenu{
   display: flex;
   align-items: center;
   gap: 20px;
  cursor: pointer;
    color: #02042b;;
   padding: 12px 8px ;
   border-radius: 5px;
   width: 100%;
 }

.submenu{
   display: none;
}

.side-drop-container{
   display: flex;
   align-items: center;
   gap: 20px;
  cursor: pointer;
    color: #02042b;
   padding: 12px 8px ;
   border-radius: 5px;
   width: 100%;
   font-weight: 400 !important;
   font-family: Roboto;
   font-size: 15px;
}



.side-hr{
   width: 12px;
   height: 3px;
   background-color: #02042b;
   
}




.side-drop-container:hover .side-hr{
   width: 30px;
   
}

.arrow-icons{
   margin-left: auto;
   margin-right: 30px;
   font-weight: 400;
}



.active-bar{
 background-color: #02042b;
 color: #fff;
}

